%form{:method => "POST", :action => '/admin'}
  %input{:type => "hidden", :name => "_method", :value => "PUT"}
  %table
    %tr
      %td イベント名
      %td 
        %input{:type => "text", :name => "name"}
    %tr
      %td 管理者 
      %td
        %input{:type => "text", :name => "user"}          
    %tr
      %td 開催日
      %td
        %input{:type => "text", :name => "title"}
    %tr
      %td 内容
      %td
        %textarea{:name => "message", :cols => 60, :rows => 8}
    %tr
      %td PassWord
      %td 
        %input{:type => "password", :name => "pass"}
    %tr
      %td
      %td
        %input{:type => "submit"}

